### TRY(group) - in any language - reverse a string, create an array of squares of numbers in any range

In [201]:
str1 = "Hello"
rev = str1[::-1]
rev

'olleH'

In [202]:
nums = [num**2 for num in [1,2,3]]
nums

[1, 4, 9]

# BASIC OPERATIONS

In [1]:
a = 5
b = 2

In [14]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a // b)
print(a % b)

7
3
10
2.5
2
1

### TRY - a sequence of math operations using parenthesis

In [128]:
#power, square root
sq = 4 ** 2
sqrt = 4 ** (1/2)

print(sq)
print(sqrt)
print(int(sqrt))

16
2.0
2

### TRY - finding cube root of 8

In [129]:
cbrt = 8 ** (1/3)
print(cbrt)
print(int(cbrt))

2.0
2

### function1 - type()

In [132]:
a = 1
#type(a)
print(type(a))

a = 3.4
#type(a)
print(type(a))

<class 'int'>
<class 'float'>

Guess the ouput (re-assigned)

In [19]:
a = a + a
#print(a)

### TRY - average of marks in 3 tests

total grade = 20

labels - t1,t2,t3,final

# STRINGS and STRING OPS

In [25]:
s = "Hello World"
#s[1]
#s[-1]

### function2 - len()

In [26]:
len(s)

11

# SLICING

[start:stop]
[start:stop:step]
[::step]

excludes stop

In [30]:
str1 = "Hello"
#print(str1[2:4])
#print(str1[1:5:3])
#print(str1[2:])

### TRY - write a program to reverse a string

In [136]:
str2 = 'abcdefghijk'
#print(str2[::2])
#print(str2[::-1])

# STRING METHODS

In [34]:
x = 'Hello World'

Hit tab after 'x.' to see list of methods available

Hit shift+tab to see description of method

### TRY - shift+tab on the following statement

In [124]:
#x.endswith('o')

In [58]:
print(x.swapcase())
print(x.upper())
print(x.lower())
print(x) #doesn't change original

hELLO wORLD
HELLO WORLD
hello world
Hello World

### function3 - split()

In [62]:
x.split()

['Hello', 'World']

What's being done to the string x2?

In [63]:
x2 = 'Hi this is a string'
x2.split('i')

['H', ' th', 's ', 's a str', 'ng']

# STRING FORMATTING

normal appending

In [141]:
word = "world"
print("Hello ",word)

Hello  world

using .format()

In [64]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [65]:
print('The {} {} {}'.format('fox','brown','fox'))

The fox brown fox

In [66]:
print('The {2} {1} {0}'.format('fox','brown','quick'))

The quick brown fox

In [67]:
print('The {q} {b} {f}'.format(f='fox',b='brown',q='quick'))

The quick brown fox

using f-strings

In [68]:
name = "Rahul"
print(f'Hello, my name is {name}')

Hello, my name is Rahul

### TRY - get the following output

In [70]:
name = "dog"
age = 2
print(f'My {name} is {age} years old')

My dog is 2 years old

# FLOAT FORMATTING

In [72]:
result = 100/777
result

0.1287001287001287

In [74]:
print("The result was {r:.5f}".format(r=result))

The result was 0.12870

# LISTS (Ordered sequence of objects)

In [143]:
str3 = "Hello"
my_list = list(str3)
my_list

['H', 'e', 'l', 'l', 'o']

### TRY - finding length, indexing, slicing and change case of an item

In [97]:
#length, indexing, slicing, case change
my_list = ['String',100,24.5]
print(len(my_list))
print(my_list[-1])
print(my_list[1:2])
print(my_list[0].upper())

3
24.5
[100]
STRING

In [98]:
#concatenating lists
another_list = ['add', 'NEXT']
new_list = my_list + another_list
new_list

['String', 100, 24.5, 'add', 'NEXT']

In [99]:
#updating a list item
new_list[0] = new_list[0].upper()
new_list

['STRING', 100, 24.5, 'add', 'NEXT']

### function4 - list functions - append(), pop(), sort(), reverse()

In [100]:
#appending to and popping from lists
new_list.append(1)
print(new_list)

new_list.pop()
print(new_list)

popped_item2 = new_list.pop(2)
print(popped_item2)

['STRING', 100, 24.5, 'add', 'NEXT', 1]
['STRING', 100, 24.5, 'add', 'NEXT']
24.5

In [149]:
#sorting items in a list
new_list2 = [4,1,8,2]
new_list2.sort()
new_list2

[1, 2, 4, 8]

In [102]:
new_list2.reverse()
new_list2

[8, 4, 2, 1]

# Dictionaries (Unordered key:value pairs)

In [59]:
prices = {'apple':2.99,'oranges':1.99,'milk':5.80}
prices

{'apple': 2.99, 'milk': 5.8, 'oranges': 1.99}

In [60]:
prices['apple']

2.99

In [105]:
d = {'k1':123,'k2':[50,60,70],'k3':{'insidekey':'abc'}}

dict_list = d['k2']
print(dict_list)

item = d['k2'][0]
print(item)

[50, 60, 70]
50

### TRY - indexing to get 'abc' and convert to upper case

In [74]:
d['k3']['insidekey'].upper()

'ABC'

In [106]:
#insertion of new key:value pair and updating existing value
d['k4'] = 'new item'
d['k1'] = 'NEW ITEM'
d

{'k1': 'NEW ITEM',
 'k2': [50, 60, 70],
 'k3': {'insidekey': 'abc'},
 'k4': 'new item'}

In [108]:
#get all the keys in dictionary
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [109]:
#get all the values in dictionary
d.values()

dict_values(['NEW ITEM', [50, 60, 70], {'insidekey': 'abc'}, 'new item'])

In [110]:
#get all items of dictionary as tuple
d.items()

dict_items([('k1', 'NEW ITEM'), ('k2', [50, 60, 70]), ('k3', {'insidekey': 'abc'}), ('k4', 'new item')])

# Tuples (Ordered Immutable sequence of objects)

tuple does not support item re-assignment

In [112]:
t = (1,2,3)
type(t)

tuple

### TRY - item re-assignment

In [115]:
#t[0] = 2

In [116]:
t = ('a','a','b')
t.count('a')

2

In [117]:
#first accurance of 'a'
t.index('a')

0

# Sets (unordered collection of UNIQUE elements)

In [118]:
myset = set()

In [119]:
myset.add(2)

In [120]:
myset.add(1)
myset.add(1)

In [121]:
myset

{1, 2}

### TRY - converting 'mylist' to a set

In [123]:
mylist = [1,1,1,1,2,2,2,2,3,3,3,3]
#set(mylist)

### function5 - input()

input. Takes in string by default

In [26]:
str1 = input("Enter your name:")
str1

Enter your name:Rahul

'Rahul'

In [27]:
a = int(input("Enter a random number: "))
a

Enter a random number: 5

5

# INDENTATION

# if-else

In [1]:
x = 5
if x < 5:
    print("Less than")
elif x > 5:
    print("Greater than")
else:
    print("Equal")

Equal

# for loops

In [152]:
my_list = [1,2,3]
for item in my_list:
    print(item)

1
2
3

In [157]:
for _ in my_list:
    print("Hello")

Hello
Hello
Hello

### What will the output for the following?

In [159]:
my_list2 = [(1,2),(3,4),(5,6),(7,8)]
for item in my_list2:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [160]:
#for a tuple with (a,b) like items
for a,b in my_list2:
    print(a)
    print(f'{b}\n')

1
2

3
4

5
6

7
8

In [2]:
d = {'k1':1,'k2':2,'k3':3}
for value in d.values():
    print(value)

1
2
3

# While

In [161]:
#while can have else part as well
x = 4

while x < 6:
    print(x)
    x += 1
else:
    print("Too big!")

4
5
Too big!

### TRY- Input a number and check whether it is less that or greater than 10

# pass, continue, break

In [5]:
x = [1,2,3]

for item in x:
    pass

print("End")

End

In [7]:
mystring = "Sammy"
for letter in mystring:
    if letter == 'm':
        continue
    print(letter)

S
a
y

### TRY - get the following expected output using break

In [8]:
mystring = "Sammy"
for letter in mystring:
    if letter == 'm':
        break
    print(letter)

S
a

# USEFUL OPERATORS

### operator6 - range

In [165]:
for num in range(0,11):
    print(num)

0
1
2
3
4
5
6
7
8
9
10

### TRY - displaying the even numbers in the above range

(0,11,2)

#### range operator is a generator

In [170]:
#range(0,11,2) - this isn't going to do anything
nums = list(range(0,11,2))

### operator7 - enumerate

enumerate function returns a tuple of some kind of index counter and the object present at the index

In [173]:
word = 'abcde'
for item in enumerate(word):
    print (item)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')
(4, 'e')

### TRY - get the index of 'c' in the word

In [174]:
for a,b in enumerate(word):
    if b == 'c':
        print(a)

2

### operator8 - zip

zip function joins together lists. The lists should be of same length

In [15]:
mylist = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [3,300,3000]
for item in zip(mylist,mylist2,mylist3):
    print(item)

(1, 'a', 3)
(2, 'b', 300)
(3, 'c', 3000)

### operator9 -  in

in operator

In [16]:
2 in [1,2,3]

True

In [177]:
'o' in 'God of War'

True

In [18]:
d = {'mykey':7}
7 in d.values()

True

### operator10 - min,max

In [180]:
mylist = [1,2,3]

In [181]:
min(mylist)

1

In [182]:
max(mylist)

3

### operator11 - random

In [24]:
from random import shuffle
mylist = [1,2,3,4,5]
shuffle(mylist) #in place function
mylist

[4, 2, 5, 1, 3]

In [28]:
from random import randint
mynum = randint(0,10)
mynum

8

# LIST COMPREHENSIONS

In [183]:
mylist = [letter for letter in 'python']
mylist

['p', 'y', 't', 'h', 'o', 'n']

In [184]:
numbers = [num**2 for num in range(1,11)]
numbers

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [185]:
#if else
odd_ev = [num if num%2 == 0 else 'ODD' for num in range(1,10)]
odd_ev

['ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD']

In [186]:
#nested loops
nest = [x*y for x in [1,2,3] for y in [10,100,1000]]
nest

[10, 100, 1000, 20, 200, 2000, 30, 300, 3000]

### function12 - join()

join() method allows you to join together strings in a list with some connector string.

Opposite of split() method

In [194]:
"--".join(['a','b','c'])

'a--b--c'

# FUNCTIONS

In [187]:
def addition(a=2,b=5):
    return a+b

#addition() #using the default values
addition(6,7)

13

In [188]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

dog_check("my DOG ran away")

True

# *args

args stores the input parameters as a tuple

In [189]:
def sample(*args):
    for item in args:
        print(item)
    return sum(args)

sum = sample(1,2,3,4,5)
print(f'The sum is: {sum}')

1
2
3
4
5
The sum is: 15

# **kwargs

kwargs stores input parameters as a dictionary

In [190]:
def myfunc(**kwargs):
    print (kwargs)
    if 'apple' in kwargs:
        print(kwargs['apple'])
    
myfunc(apple='red',lemon='yellow',guava='green')

{'apple': 'red', 'lemon': 'yellow', 'guava': 'green'}
red

# *args and **kwargs

In [191]:
def myfunc2(*args,**kwargs):
    print("I would like {} {}".format(args[2],kwargs['animal']))

myfunc2(10,20,30,fruit='apple',food='eggs',animal='dogs')

I would like 30 dogs

In [192]:
str1 = "hi"
str2 = list(str1)
str2

['h', 'i']